# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\code\java_code\spring_jdbc\SpringJDBC训练素材\Spring JDBC训练素材\jdbc\s02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
